<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DataComponent"  value="ClassLib.DataComponent" />
  </appSettings>
  <connectionStrings>
    <add name="myConn" connectionString="Data Source=CPC-S1101-3670\GNOMES;Initial Catalog=pharms_active;Integrated Security=True" />
    <add name="OutPatientManagementSystem.My.MySettings.pharms_activeConnectionString"
      connectionString="Data Source=CPC-S1101-3670\GNOMES;Initial Catalog=pharms_active;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>